$font1: "Helvetica Neue",
sans-serif;

a {
	text-decoration: none;
}

html,
body {}

body {
	margin: 0;
	color: #3b3b3b;
	background: #ffffff;
	font-family: $font1;
	font-size: vw(16);
}

input,
textarea {
	font-family: $font1;
}

.container {
	box-sizing: border-box;
	width: vw(1060);
	margin: 0 auto;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.hovco {
	cursor: pointer;
	transition: opacity .2s;

	&:hover {
		opacity: .8;
	}
}

.hovco6 {
	cursor: pointer;
	transition: opacity .2s;

	&:hover {
		opacity: .6;
	}
}

.hovcb {
	cursor: pointer;
	transition: filter .2s;

	&:hover {
		filter: brightness(0.7);
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: vw(17) vw(35);
	cursor: pointer;
	transition-duration: .2s;
	letter-spacing: vw(0.57);
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: vw(27);
	background: #521b61;
	font-weight: 700;
	font-size: vw(19);

	&:hover {
		opacity: .8;
	}

	&--grad-bg {
		background: linear-gradient(90deg, rgba(52, 16, 76, 1) 0%, rgba(52, 16, 76, 1) 25%, rgba(5, 28, 77, 1) 75%, rgba(5, 28, 77, 1) 100%);
	}
}

.cust-chb {
	input {
		display: none;

		&:checked+span::before {
			background-image: url(../img/checked.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 64% auto;
		}
	}

	span {
		margin-bottom: vw(8);

		&::before {
			position: relative;
			top: vw(8);
			display: inline-block;
			box-sizing: border-box;
			width: vw(27);
			height: vw(27);
			margin-right: vw(11);
			content: '';
			border: vw(1) solid #ddd;
			background-color: #ffffff;
			line-height: 1;
		}
	}
}

section {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.section-1 {
	padding-top: vw(60);
}

.decoration-bg {
	position: absolute;
	top: vw(539);
	right: calc(50% - #{vw(882)});
	width: vw(624);
}

.s1-top-block {
	&__woman {
		display: block;
		width: vw(236);
		margin: 0 auto;

		img {}
	}

	&__super {
		position: relative;
		margin-top: vw(25);

		span {
			display: block;
			text-align: center;
			letter-spacing: vw(2.31);
			text-transform: uppercase;
			color: #ffffff;
			text-shadow: 0 0 vw(119) rgba(0, 247, 255, 0.75);
			font-family: 'Helvetica Neue - Condensed Black';
			font-weight: 900;
			font-size: vw(77);
		}

		&::before {
			position: absolute;
			top: vw(-141);
			left: vw(-100);
			display: block;
			width: vw(1340);
			height: vw(196);
			content: '';
			background: url('../img/shining.png');
			background-size: contain;
		}
	}

	&__desc {
		max-width: vw(792);
		margin: vw(24) auto 0;
		margin-top: vw(25);
		text-align: center;
		letter-spacing: vw(0.51);
		color: #ffffff;
		font-weight: 400;
		font-size: vw(17);
		line-height: vw(28);
	}
}

.super-deco-1 {
	position: absolute;
	top: vw(32);
	left: vw(163);
	width: vw(106);
	transform: translateY(-100%);

	img {}
}

.s1-main-block-deco-1 {
	position: absolute;
	top: 0;
	top: vw(-360);
	left: 0;
	left: vw(-374);
	width: vw(787);

	img {}
}

.s1-main-block-deco-2 {
	position: absolute;
	top: vw(-182);
	right: vw(-18);
	width: vw(154);

	img {}
}

.s1-main-block {
	position: relative;
	margin-top: vw(47);
	padding: vw(27) vw(38) 0 vw(38);
	padding-top: vw(27);
	padding-bottom: vw(67);
	background: #ffffff;

	&__title {
		width: vw(360);
		margin: 0 auto;
		text-align: center;
		letter-spacing: vw(0.78);
		text-transform: uppercase;
		color: #531b62;
		font-family: 'Helvetica Neue - Condensed Black';
		font-weight: 900;
		font-size: vw(26);
	}

	&__desc {
		width: vw(625);
		margin: vw(37) auto 0;
		text-align: center;
		letter-spacing: vw(0.51);
		color: #000000;
		font-weight: 400;
		font-size: vw(17);
		line-height: 1.2;
	}
}

.do-it-block {
	display: flex;
	justify-content: space-between;
	width: calc(86% - #{vw(42)});
	margin: vw(23) auto 0;
}

.do-it-block-item {
	width: calc(33.33% - #{vw(42)});
	margin: vw(21);

	&__pic {
		width: vw(132);
		height: vw(132);
		margin: 0 auto;

		img {
			max-height: 100%;
		}
	}

	&__info {
		width: 100%;
		margin-top: vw(19);
		text-align: center;
		letter-spacing: vw(0.51);
		color: #000000;
		font-weight: 400;
		font-size: vw(17);
		line-height: 1.2;
	}

	img {}
}

.competition-btns-row {
	display: flex;
	justify-content: space-between;
	width: 84.3%;
	margin: vw(31) auto 0;

	.btn {

		&:nth-child(1),
		&:nth-child(3) {
			width: vw(290);
		}

		&:nth-child(2) {
			width: vw(149);
		}
	}
}

.take-part {
	position: relative;
	display: none;
	flex-direction: column;
	padding-top: vw(87);
	text-align: center;
}

.take-part-decoration-1 {
	position: absolute;
	top: vw(59);
	width: vw(154);
	right: vw(29);
}

.form-input {
	display: block;
	box-sizing: border-box;
	width: vw(526);
	height: vw(61);
	margin: 0 auto;
	padding: 0 vw(20);
	text-align: center;
	/* Text style for "И, мя" */
	letter-spacing: vw(0.48);
	color: #000000;
	border: vw(1) solid #dddddd;
	font-weight: 400;
	font-size: vw(16);

	+.form-input {
		margin-top: vw(37);
	}

	&::placeholder {
		transition: 0.3s linear;
		opacity: 1;
		color: #727272;
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}

.cust-chb-in-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: vw(42) auto 0;

	display: block;

	span {
		margin-bottom: 0;
		/* Text style for "с, огласен" */
		letter-spacing: vw(0.42);
		/* Text style for "правилами" */
		letter-spacing: vw(0.42);
		color: #656565;
		font-weight: 400;
		font-size: vw(14);
	}

	label+span::before {
		display: none;
	}

	a {
		text-decoration: underline;
		color: #656565;

		&:hover {
			text-decoration: none;
		}
	}
}

.btn-send-form {
	width: vw(193);
	margin: vw(40) auto 0;
	&:disabled{
		opacity: 0.5;
		cursor: default;
	}
}

.photos-slider-wrap {
	margin-top: vw(63);
}

.photos-slider {
	margin: 0 vw(57);

	.slick-arrow {
		position: absolute;
		top: vw(57);
		display: block;
		width: vw(57);
		height: vw(57);
		cursor: pointer;
		transition: 0.3s ease;
		opacity: 1;
		color: transparent;
		border: none;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		font-size: 0;

		&.slick-prev {
			left: vw(-57);
			background-image: url("../img/slider-arrow-left.svg");
		}

		&.slick-next {
			right: vw(-57);
			background-image: url("../img/slider-arrow-right.svg");
		}

		&:hover {
			opacity: 0.6;
		}
	}
}

.photos-slider-slide {
	&__pic {
		display: block;
		height: vw(171);
		margin-right: vw(22);
		margin-left: vw(22);
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.photos-slider-slide-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: vw(6);
	margin-right: vw(22);
	margin-left: vw(22);

	&__name {
		letter-spacing: vw(0.42);
		color: #3e1150;
		font-weight: 500;
		font-size: vw(14);
	}

	&__rating {
		display: flex;
		align-items: center;
		justify-content: center;
		/*vw(5);-*/
		box-sizing: border-box;
		width: vw(36);
		height: vw(30);
		padding-bottom: vw(1);
		cursor: pointer;
		user-select: none;
		text-align: center;
		letter-spacing: vw(0.42);
		color: #3e1150;
		background: url("../img/empty-heart.svg") no-repeat center center;
		background-size: contain;
		font-weight: 500;
		font-size: vw(14);

		&--liked {
			cursor: default;
			pointer-events: none;
			color: #ffffff;
			background-image: url("../img/full-heart.svg");
		}
	}
}

.watch-all-photos {
	margin-top: vw(75);
	text-align: center;
}

.btn-watch-all-photos {
	display: inline-block;
	border: none;
}

.section-2 {
	padding-top: vw(31);
	padding-bottom: vw(41);
}

.section-2-title {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	/* Text style for "и, нтересн" */
	letter-spacing: vw(2.58);
	color: #ffffff;
	text-shadow: 0 0 vw(67) rgba(0, 247, 255, 0.75);
	font-family: 'Helvetica Neue - Condensed Black';
	font-weight: 400;
	font-size: vw(86);

	&::before {
		position: absolute;
		top: vw(-80);
		left: vw(-26);
		display: block;
		width: vw(1110);
		height: vw(162);
		content: '';
		background: url(../img/shining-2.png) no-repeat center center;
		background-size: cover;
	}
}

.slider-facts {
	width: vw(763);
	margin: vw(33) vw(147) 0;

	.slick-arrow {
		position: absolute;
		top: vw(194);
		display: block;
		width: vw(57);
		height: vw(57);
		cursor: pointer;
		transition: 0.3s ease;
		opacity: 1;
		color: transparent;
		border: none;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		font-size: 0;

		&.slick-prev {
			left: vw(-104);
			background-image: url("../img/slider-arrow-left-w.svg");
		}

		&.slick-next {
			right: vw(-104);
			background-image: url("../img/slider-arrow-right-w.svg");
		}

		&:hover {
			opacity: 0.6;
		}
	}
}

.slider-facts-slide {
	&__pic {
		position: relative;
		width: 100%;

		&::before {
			display: block;
			padding-top: calc(348 / 763 * 100%);
			content: '';
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__title {
		margin-top: vw(42);
		text-align: center;
		letter-spacing: vw(0.78);
		color: #fffefe;
		font-weight: 700;
		font-size: vw(26);
		line-height: 1.2;
	}

	&__description {
		display: block;
		margin-top: vw(18);
		text-align: justify;
		text-align-last: center;
		letter-spacing: vw(.48);
		color: #fffefe;
		font-size: vw(16);
		line-height: 1.24;
	}
}

.section-3 {
	padding-top: vw(37);
}

.s3-main-block {}

.s3-pic-titles {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	img {
		width: 100%;
	}

	&__bs {
		width: vw(85);
	}

	&__film-name {
		width: vw(671);
		margin-top: vw(-40);
		margin-left: vw(-22);
	}

	&__v-kino {
		width: vw(447);
		margin-top: vw(-67);
		margin-left: vw(-11);
	}

	&__3d {
		width: vw(190);
		margin-top: vw(15);
		margin-left: vw(-8);
	}
}

.s3-main-block {
	position: relative;
	margin-top: vw(-213);
	padding-top: vw(282);
	padding-bottom: vw(54);
	text-align: center;
	background: #fff;

	&__deco-1 {
		position: absolute;
		top: vw(71);
		left: vw(37);
		width: vw(236);

		img {}
	}

	&__deco-2 {
		position: absolute;
		top: vw(188);
		right: vw(17);
		width: vw(209);

		img {}
	}

	&__title {
		letter-spacing: vw(0.78);
		text-transform: uppercase;
		font-weight: 700;
		font-size: vw(26);
	}

	p {
		letter-spacing: vw(0.51);
		font-weight: 400;
		font-size: vw(17);
		line-height: 1.2;

		&+p {
			margin-top: vw(24);
		}
	}
}

.s3-main-block-text {
	width: vw(569);
	margin: 0 auto;
	text-align: center;
	color: #000000;
}

.btn-buy-ticket {
	width: vw(244);
	margin: vw(47) 0 0;
}

.s3-video-block {
	position: relative;
	width: vw(1198);
	margin: 0 auto;

	&::before {
		display: block;
		padding-top: calc(315 / 560 * 100%);
		content: '';
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.s3-parthners-wrap {
	background: #fff;
}

.s3-parthners {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	width: 100%;
	padding: vw(21) vw(15) vw(32);

	&__parthner {
		height: vw(32);
		margin: 0 vw(26);

		&--6y {
			height: vw(49);
		}

		img {
			height: 100%;
		}
	}
}

.s3-footer {
	text-align: center;

	&__production {
		margin-top: vw(32);
		text-align: center;
		letter-spacing: vw(0.48);
		color: #ffffff;
		font-weight: 400;
		font-size: vw(16);
		padding-bottom: vw(48);
	}
}

.s3-footer-soc {
	display: flex;
	justify-content: center;
	margin-top: vw(27);

	&__social {
		max-width: vw(36);
		height: vw(34);
		margin: 0 vw(17);

		img {
			height: 100%;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}
}

.select-photo-wrap {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: vw(20);
}

.select-photo {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	input {
		display: none;
	}

	transition-duration: .2s;

	&:hover {
		opacity: .8;
	}

	span {
		color: #656565;
		display: block;
		font-size: vw(20);
		font-weight: 500;
		padding-right: vw(15);

	}

	.btn {
		padding: vw(5) vw(14);
		border-radius: vw(5);

		svg {
			width: vw(60);
		}

		&:hover {
			opacity: 1;
		}
	}

	&.select-photo--selected {
		.btn {
			display: none;
		}
	}
}


.afterSubmitFancy {
	width: 600px;
	max-width: 100%;
	&__title {
		text-align: center;
		font-family: 'Helvetica Neue - Condensed Black';
		color: #531b62;
		font-size: 26px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.78px;
	}

	&__p {
		text-align: center;
		margin-top: 20px;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.78px;
		line-height: 1.3;
	}
}
